@import url('https://fonts.googleapis.com/css?family=Inconsolata|Indie+Flower|Roboto:400,700|Roboto+Mono');
#floor {
    margin: 0px;
    background-color: #f1f1f1;
    box-sizing: border-box;
}
#hidden-name {
    position: absolute;
    width: 100%;
    color: darkgray;
}
#backdrop {
    position: fixed;
    background-color: #82b5df;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scaleY(0);    
    transition-delay: 500ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.5, 0, 0, 1);
    top: 0;
}
.fill {
    background-color: #82b5df;
}
#backdrop.dropIn {
    transform: scaleY(1);
}
.name-head {
    /*font-family: 'Indie Flower', cursive;*/
    /*font-family: 'Inconsolata', monospace;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 10vw;
}

/*Chat CSS below*/
#conversation-container {
    position: relative;
    width: 600px;
    max-height: 100%;
    height: 100%;
    bottom: 0px;    
    z-index: 4;    
}
#input {
    position: fixed;
    border: none;
    z-index: 10;
    background-color: rgba(241, 241, 241, 0.75);
    padding: 10px;
    font-size: 16px;
    width: inherit;
    max-width: 90%;
    border-radius: 4px;
    opacity: 0;
    bottom: 0px;
}
#input.dropIn {
    transform: translate(-50%, -40px);
    opacity: 1;
}
#conversation {
    position: fixed;
    width: inherit;
    max-width: 90%;
    z-index: 5;
    bottom: 0px;
    color: white;  
    max-height: inherit;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
}
#conversation::-webkit-scrollbar { 
    display: none; 
}
.msg {
    display: block;
    padding: 10px;
    color: #1f1f1f;
    border-radius: 4px;
    opacity: 0;
    bottom: 85px;    
    height: auto;
    word-wrap: break-word;
    margin: 3px 0px;    
}
.msg.show {
    opacity: 1;
    padding: 10px;
    transform: scaleY(1);    
}
#conversation, #input, .msg {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.28,.51,.78,.86);
}
.msg.user {
    background-color: #f1f1f1;
    float: right;
}
.msg.computer {
    background-color: rgb(255, 159, 136);
    float: left;  
}
.msg.general {
    background-color: #82df9e;
    width: 100%;
    box-sizing: border-box;
}
.msg.user, .msg.computer {
    max-width: 60%;
}


/*General CSS below*/

*, input {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px; 
    color: #1f1f1f;
}
.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.horizontal-align {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.center {
    text-align: center;
}
.clearfix { 
    display: inline-block; 
    width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}